.trading-bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .section {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10%;
  }
  
  .section-content {
    flex: 1;
  }
  
  .section-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .section-content p {
    font-size: 1.1rem;
  }
  
  .section-image {
    flex: 1;
    max-width: 40%;
    min-width: 200px;
  }
  
  .section-image img {
    width: 100%;
    height: auto;
  }

  .separator {
    width: 50%;
    border-top: 2px solid rgb(121, 121, 177);
    background-color: white;
    margin: 20px 0; 
  }

  footer {
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .footer-section {
    color: #fff;
    margin: 0 20px;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid rgb(121, 121, 177);
  }